// variables
:root {
    --st-primary: #b82832;
    --st-primary-hover: #b52732;
    --st-primary-focus: #a72531;
    --st-primary-text: white;
    --st-primary-text-dim: #dedede;

    --st-secondary: #6b6b6b;
    --st-secondary-hover: #656565;
    --st-secondary-focus: #606060;
    --st-secondary-text: white;
    --st-secondary-text-dim: #dedede;

    --st-highlight: #f2f2f2;

    --st-background: white;
    --st-background-hover: #fafafa;
    --st-background-focus: #f4f4f4;
    --st-text: black;
    --st-text-dim: #282828;
}

html,
body {
    font-family: "Roboto Light", sans-serif;
    background-color: var(--st-background);
}

// defaults
* {
    box-sizing: border-box;
}

// text
.st-text {
    font: inherit;
    margin: 0;
    padding: 0;
    color: var(--st-text);

    // nested
    &.st-text--primary {
        color: var(--st-primary);
    }

    &.st-text--secondary {
        color: var(--st-secondary);
    }
}


// buttons
.st-button {
    padding: 0.5rem 1rem;

    background-color: var(--st-background);
    color: var(--st-text);

    border: 1px solid var(--st-secondary);

    font: inherit;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: var(--st-background-hover);
    }

    &:active {
        background-color: var(--st-background-focus);
        border: 1px solid var(--st-primary);
    }

    // nested
    &.st-button--primary {
        border-color: var(--st-primary);

        &:hover {
            border: 1px solid var(--st-primary-hover);
        }

        &:active {
            border: 1px solid var(--st-primary-focus);
        }

        &.st-button--fill {
            background-color: var(--st-primary);
            color: var(--st-primary-text);

            &:hover {
                background-color: var(--st-primary-hover);
            }

            &:active {
                background-color: var(--st-primary-focus);
            }
        }
    }

    &.st-button--secondary {
        border-color: var(--st-secondary);


        &:hover {
            border: 1px solid var(--st-secondary-hover);
        }

        &:active {
            border: 1px solid var(--st-secondary-focus);
        }

        &.st-button--fill {
            background-color: var(--st-secondary);
            color: var(--st-secondary-text);

            &:hover {
                background-color: var(--st-secondary-hover);
            }

            &:active {
                background-color: var(--st-secondary-focus);
            }
        }
    }

    // button modifiers
    &.st-button--big {
        @extend .st-text--big;
        padding: 0.75rem 1.5rem;
    }

    &.st-button--medium {
        @extend .st-text--medium;
        padding: 0.5rem 1rem;
    }

    &.st-button--small {
        @extend .st-text--small;

        padding: 0.25rem 0.5rem;
    }
}


// inputs
.st-input {
    padding: 1rem;
    height: 3rem;

    font: inherit;

    background-color: var(--st-background);
    border: 1px solid var(--st-secondary);

    color: var(--st-text);

    &::placeholder {
        color: var(--st-text-dim);
    }

    &:hover {
        background-color: var(--st-background-hover);
    }

    &:focus {
        background-color: var(--st-background-focus);
        border: 1px solid var(--st-primary);
        outline: none;
    }

    // nested
    &.st-input--primary {
        border: 1px solid var(--st-primary);

        &:hover {
            border: 1px solid var(--st-primary-hover);
        }

        &:focus {
            border: 1px solid var(--st-primary-focus);
        }

        &.st-input--fill {
            background-color: var(--st-primary);
            color: var(--st-primary-text);

            &::placeholder {
                color: var(--st-primary-text-dim);
            }

            &:hover {
                background-color: var(--st-primary-hover);
            }

            &:focus {
                background-color: var(--st-primary-focus);
            }
        }
    }

    &.st-input--secondary {
        border: 1px solid var(--st-secondary);

        &:hover {
            border: 1px solid var(--st-secondary-hover);
        }

        &:focus {
            border: 1px solid var(--st-secondary-focus);
        }

        &.st-input--fill {
            background-color: var(--st-secondary);
            color: var(--st-secondary-text);

            &::placeholder {
                color: var(--st-secondary-text-dim);
            }

            &:hover {
                background-color: var(--st-secondary-hover);
            }

            &:focus {
                background-color: var(--st-secondary-focus);
            }
        }
    }

    // input sizes
    &.st-input--big {
        @extend .st-text--big;
        padding: 1rem 1rem;
        height: 4rem;
    }

    &.st-input--medium {
        @extend .st-text--medium;
        padding: 1rem;
        height: 3rem;
    }

    &.st-input--small {
        @extend .st-text--small;
        padding: 0.5rem;
        height: 2rem;
    }
}

.st-select {
    width: auto;
    padding: 0.2rem;
    font: inherit;

    background: var(--st-background);
    color: var(--st-text);

    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;

    & > option {
        background: var(--st-background);
        color: var(--st-text);
    }

    &:hover {
        background: var(--st-background-hover);
    }

    &:focus {
        background: var(--st-background-hover);
        border: 1px solid var(--st-primary);
        outline: none;
    }

    // nested

    &.st-select--primary {
        border-color: var(--st-primary);

        &:hover {
            border-color: var(--st-primary-hover);
        }

        &:focus {
            border: 1px solid var(--st-primary-focus);
        }

        &.st-select--fill {
            background: var(--st-primary);
            color: var(--st-primary-text);

            &:hover {
                background: var(--st-primary-hover);
            }

            & > option {
                background: var(--st-primary-hover);
                color: var(--st-primary-text);
            }

            &:focus {
                background: var(--st-primary-focus);
            }
        }

    }

    &.st-select--secondary {
        border-color: var(--st-secondary);

        &:hover {
            border-color: var(--st-secondary-hover);
        }

        &:focus {
            border: 1px solid var(--st-secondary-hover);
        }

        &.st-select--fill {
            background: var(--st-secondary);
            color: var(--st-secondary-text);

            &:hover {
                background: var(--st-secondary-hover);
            }

            & > option {
                background: var(--st-secondary-hover);
                color: var(--st-secondary-text);
            }

            &:focus {
                background: var(--st-secondary-hover);
            }
        }
    }

    &.st-select--small {
        @extend .st-text--small;
        padding: 0.1rem;
    }

    &.st-select--medium {
        @extend .st-text--medium;
        padding: 0.2rem;
    }

    &.st-select--big {
        @extend .st-text--big;
        padding: 0.3rem;
    }
}

// forms
.st-form {
    margin: 0;
    padding: 0;

    .st-form__control {
        margin: 1rem 0;

        .st-form__label {
            padding: 0.25rem;
            display: inline-flex;
            justify-content: left;
            align-items: center;

            span {
                margin-right: 0.5rem;
                color: var(--st-text)
            }
        }

        .st-form__label--multi {
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;

            span {
                margin-right: 0;
                margin-bottom: 0.5rem;
            }
        }

        .st-form__label--full {
            width: 100%;

            .st-form__input {
                width: 100%;
            }
        }

        .st-form__label--settings {
            width: 100%;

            justify-content: space-between;
        }

        // input remapped
        .st-form__input {
            @extend .st-input;
        }

        .st-form__input--primary {
            @extend .st-input--primary;

            &.st-form__input--fill {
                @extend .st-input--fill
            }
        }

        .st-form__input--secondary {
            @extend .st-input--secondary;

            &.st-form__input--fill {
                @extend .st-input--fill
            }
        }

        // Form Input
        .st-form__input--big {
            @extend .st-input--big;
        }

        .st-form__input--medium {
            @extend .st-input--medium;
        }

        .st-form__input--small {
            @extend .st-input--small;
        }

        // Form Select
        .st-form__select {
            @extend .st-select;
        }

        .st-form__select--primary {
            @extend .st-select--primary;

            &.st-form__select--fill {
                @extend .st-select--fill
            }
        }

        .st-form__select--secondary {
            @extend .st-select--secondary;

            &.st-form__select--fill {
                @extend .st-select--fill
            }
        }

        .st-form__select--small {
            @extend .st-select--small;
        }

        .st-form__select--medium {
            @extend .st-select--medium;
        }

        .st-form__select--big {
            @extend .st-select--big;
        }

        // Form Submit
        .st-form__submit {
            @extend .st-button;
            min-width: 200px;
        }

        .st-form__submit--primary {
            @extend .st-button--primary;

            &.st-form__submit--fill {
                @extend .st-button--fill
            }
        }

        .st-form__submit--secondary {
            @extend .st-button--secondary;

            &.st-form__submit--fill {
                @extend .st-button--fill
            }
        }

        .st-form__submit--big {
            @extend .st-button--big;
            min-width: 300px;
        }

        .st-form__submit--medium {
            @extend .st-button;
            min-width: 200px;
        }

        .st-form__submit--small {
            @extend .st-button--small;
            min-width: 100px;
        }
    }

    .st-form__control--small {
        margin: 0.5rem 0;

        & > .st-form__label {
            padding: 0.05rem 0;
        }
    }

    .st-form__control--big {
        margin: 1.5rem 0;

        & > .st-form__label {
            padding: 0.75rem 0;
        }
    }

    .st-form__control--medium {
        margin: 1rem 0;

        & > .st-form__label {
            padding: 0.25rem;
        }
    }
}

// tables
.st-table {
    border-collapse: collapse;
    text-align: left;
    cursor: pointer;

    thead {
        tr {
            th {
                padding: 0.6rem 1.5rem;
                font-weight: normal;
                font-size: 1.25rem;
                color: var(--st-text);
            }

            border-width: 2px;
        }
    }


    tr {
        border-bottom: 1px solid var(--st-text);
    }

    tbody {
        font-family: Roboto, sans-serif;
        tr {
            td {
                padding: 1rem 1.5rem;
                color: var(--st-text);
            }

            &:hover {
                background: var(--st-background-hover);
            }
        }
    }

    // nested styles

    &.st-table--full {
        width: 100%;
    }

    &.st-table--small {
        thead {
            tr {
                th {
                    padding: 0.45rem 0.5rem;
                    font-size: 1.15rem;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 0.7rem 0.5rem;
                    font-size: 0.85rem;
                }
            }
        }
    }

    &.st-table--medium {
        thead {
            tr {
                th {
                    padding: 0.6rem 1.5rem;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 1rem 1.5rem;
                }
            }
        }
    }

    &.st-table--big {
        thead {
            tr {
                th {
                    padding: 0.8rem 2.25rem;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 1.25rem 2.25rem;
                }
            }
        }
    }

    &.st-table--primary {
        thead {
            tr {
                th {
                    background: var(--st-primary);
                    color: var(--st-primary-text);
                }

                border-bottom: none;
            }
        }

        tr {
            border-bottom: 1px solid var(--st-primary);
        }
    }

    &.st-table--secondary {
        thead {
            tr {
                th {
                    background: var(--st-secondary);
                    color: var(--st-secondary-text);
                }

                border-bottom: none;
            }
        }

        tr {
            border-bottom: 1px solid var(--st-secondary);
        }
    }
}

.st-text {

    // text size
    &.st-text--big {
        font-size: 1.5rem;
    }

    &.st-text--medium {
        font-size: 1rem;
    }

    &.st-text--small {
        font-size: 0.75rem;
    }

    // text detail size
    // @formatter:off
    &.st-text--10 { font-size: 0.1rem !important; }
    &.st-text--20 { font-size: 0.2rem !important; }
    &.st-text--30 { font-size: 0.3rem !important; }
    &.st-text--40 { font-size: 0.4rem !important; }
    &.st-text--50 { font-size: 0.5rem !important; }
    &.st-text--60 { font-size: 0.6rem !important; }
    &.st-text--70 { font-size: 0.7rem !important; }
    &.st-text--80 { font-size: 0.8rem !important; }
    &.st-text--90 { font-size: 0.9rem !important; }
    &.st-text--100 { font-size: 1.0rem !important; }
    &.st-text--110 { font-size: 1.1rem !important; }
    &.st-text--120 { font-size: 1.2rem !important; }
    &.st-text--130 { font-size: 1.3rem !important; }
    &.st-text--140 { font-size: 1.4rem !important; }
    &.st-text--150 { font-size: 1.5rem !important; }
    &.st-text--160 { font-size: 1.6rem !important; }
    &.st-text--170 { font-size: 1.7rem !important; }
    &.st-text--180 { font-size: 1.8rem !important; }
    &.st-text--190 { font-size: 1.9rem !important; }
    &.st-text--200 { font-size: 2.0rem !important; }
    &.st-text--210 { font-size: 2.1rem !important; }
    &.st-text--220 { font-size: 2.2rem !important; }
    &.st-text--230 { font-size: 2.3rem !important; }
    &.st-text--240 { font-size: 2.4rem !important; }
    &.st-text--250 { font-size: 2.5rem !important; }
    &.st-text--260 { font-size: 2.6rem !important; }
    &.st-text--270 { font-size: 2.7rem !important; }
    &.st-text--280 { font-size: 2.8rem !important; }
    &.st-text--290 { font-size: 2.9rem !important; }
    &.st-text--300 { font-size: 3.0rem !important; }
    &.st-text--310 { font-size: 3.1rem !important; }
    &.st-text--320 { font-size: 3.2rem !important; }
    &.st-text--330 { font-size: 3.3rem !important; }
    &.st-text--340 { font-size: 3.4rem !important; }
    &.st-text--350 { font-size: 3.5rem !important; }
    &.st-text--360 { font-size: 3.6rem !important; }
    &.st-text--370 { font-size: 3.7rem !important; }
    &.st-text--380 { font-size: 3.8rem !important; }
    &.st-text--390 { font-size: 3.9rem !important; }
    &.st-text--400 { font-size: 4.0rem !important; }
    // @formatter:on
}

