// tooltip
.st-tooltip {
    position: relative;
    width: fit-content;


    &.st-tooltip--top {
        span.st-tooltip__text {
            transform: translate(-50%, 0);
        }
    }

    &.st-tooltip--bottom {
        span.st-tooltip__text {
            transform: translate(-50%, 200%);
        }
    }

    &.st-tooltip--right {
        span.st-tooltip__text {
            transform: translate(50%, 100%);
        }
    }

    &.st-tooltip--left {
        span.st-tooltip__text {
            transform: translate(-150%, 100%);
        }
    }

    // ? why
    &.st-tooltip--inline {
        display: inline-block;
    }

    span.st-tooltip__text {
        visibility: hidden;
        background-color: var(--st-background-hover);
        color: var(--st-text);
        padding: 0.25rem 0.5rem;
        white-space: nowrap;

        box-shadow: 0 0 5px 3px var(--st-background);
        border: 1px solid var(--st-text);

        z-index: 1;
        position: absolute;
        bottom: calc(100% + 3px);
        left: 50%;
        transform: translateX(-50%);

        pointer-events: none;
    }

    &:hover {
        .st-tooltip__text {
            visibility: visible;
        }
    }
}
